@using umbraco.MacroEngines
<script src="/scripts/home.js" type="text/javascript"> </script>
<script src="/scripts/nivo-slider/jquery.nivo.slider.js" type="text/javascript"> </script>
<div class="banner">
    @{
        DynamicNode currentNode = new DynamicNode(CurrentModel.Id);
        foreach (dynamic imageNode in currentNode.Descendants("Carrousel"))
        {
            string alt = !string.IsNullOrEmpty(imageNode.name) ? @imageNode.name : string.Empty;
        <a href="@this.Model.NodeById(@imageNode.link).Url">
            <img src="@imageNode.image.mediaItem[0].Image.umbracoFile" alt="@alt" /></a>
        }
    }
</div>
@*<div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            @{
                if (this.Model.HasValue("slideImatges"))
                {
                    foreach (dynamic imatge in this.Model.Descendants("ImatgePortada"))
                    {
                        <a href="@this.Model.NodeById(@imatge.linkImatge).Url">
                            <img src="@imatge.imatgeSlide.mediaItem[0].Image.umbracoFile" data-thumb="@imatge.imatgeSlide.mediaItem[0].Image.umbracoFile" 
                            alt="@imatge.titolImatge @this.Dictionary.keywords"/>
                        </a>
                    }
                }

            }
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>*@
