@using umbraco.MacroEngines
<div class="col-sm-5">
    <div class="logo">
        <a href="/en/" title="Ir a la pagina inicial">
            <img src="/img/btc-logo.png" alt="BTC Barcelona Traveling Consulting" />
        </a>
    </div>
</div>
<div class="col-sm-7">
    <!--<div class="toplinks">
        @{
            DynamicNode rootNode = new DynamicNode(-1);
            DynamicNode contactNode = rootNode.Descendants("Page").Items.FirstOrDefault(x => x.GetPropertyValue("identifier") == "Contact");
        }
        <a href="@contactNode.Url" class="lk-contact">@contactNode.Name</a>
        <div class="informationContact">
            <a href="@string.Concat("mailto:",Dictionary.Email)" class="link">@Dictionary.Email</a>
            <p class="tel">
                @Dictionary.TelephoneNumber</p>
        </div>
    </div>-->
</div>
