@using umbraco.MacroEngines
@{
    DynamicNode nodeProducts = new DynamicNode();
    DynamicNode nodeCategories = new DynamicNode();
    foreach (var item in Model.Children)
    {
            if(item.Name.Equals("Products")) 
            {
                nodeProducts = item;
            }
            else if (item.Name.Equals("Categories"))
            {
                nodeCategories = item;
            }
    }
}

<link href="/css/products.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/scripts/products.js"></script>

<div class="wrap-products">
    <div id="container-categories">
        @foreach (dynamic category in nodeCategories.GetChildrenAsList.Items)
        {
            string categories = category.GetProperty("identifier").Value.Replace(" ", "-").Replace(",", " ").ToLower();
            <div data-filter=".@categories" >
                <div class="border-radius">
                    @if (category.image.mediaItem.Count() != 0)
                    {
                        <img width="50px" height="50px" src="@category.image.mediaItem[0].Image.umbracoFile" alt="Logo" />
                    }
                    else
                    {
                        <img width="50px" height="50px" src="http://www.grupointercom.com/sites/default/files/business/logos/newshore.png" alt="Logo" /> 
                    }
                </div>
                <div>
                    <p>@category.GetProperty("title").Value</p>
                </div>
            </div>
        }
    </div>
    <div class="clear"></div>
    <div id="container-products">
        @foreach (dynamic product in nodeProducts.GetChildrenAsList.Items)
        {
            string categories = product.GetProperty("selectCategories").Value.Replace(" ", "-").Replace(",", " ").ToLower();
            
            <div class="item @categories" >
                <div id="@product.Id" class="border-radius">
                    @if (product.image.mediaItem.Count() != 0)
                    {
                        <img width="50px" height="50px" src="@product.image.mediaItem[0].Image.umbracoFile" alt="Logo" />
                    }
                    else
                    {
                        <img width="50px" height="50px" src="http://www.grupointercom.com/sites/default/files/business/logos/newshore.png" alt="Logo" /> 
                    }
                </div>
                <div>
                    <h2>@product.GetProperty("title")</h2>
                    <p>@Html.Raw(product.GetProperty("description").Value)</p>
                </div>
            </div>
            
        }
    </div>
</div>